.navbar {
    width: 100%;
    height: 100px;
    /* background: linear-gradient(180deg, #7035f0, #f528cb); */
    position: fixed;
    z-index: 999; 
}

.navbar__logo {
    width: 40%;
}

.navbar__distojob {
    width: 60%;
    margin-left: 30px;
}

.navbar__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}

.navbar__menu{
    display: flex;
    align-items: center; 
}

.navbar__list{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-right: 470px;
}

.navbar__item{
    margin-right: 70px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.5rem;
}

.navbar__link{
    color: black;
    text-decoration: none;
}

.navbar__buttons {
    display: flex;
    align-items: center;
    width: 30%;
    font-size: 1.2rem;
    margin-right: 40px;
}

.navbar__btn {
    outline: none;
    border: none;
    cursor: pointer;
    padding: 15px;
}

.navbar__btn--login {
    background: none;
    width: 50%;
}

.navbar__btn--signup {
    background-color: #4540DB;
    /* background-color: #3a0c76;  */
    color: #ffffff; 
    width:  50%;
    border-radius: 10px;
}

.navbar__btn--signup:hover {
    /* background-color: #5812b3; */
    background-color: #6560f8;
}