.navbar {
    width: 100%;
    height: 100px;
    /* background: linear-gradient(180deg, #7035f0, #f528cb); */
    /* position: fixed;
    z-index: 1; */ 
}

.navbar__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}

.navbar__menu{
    display: flex;
    align-items: center; 
}

.navbar__list{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-left: auto; 
    
}

.navbar__item{
    margin-right: 80px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.5rem;
}

.navbar__link{
    color: black;
    text-decoration: none;
}

.navbar__buttons {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.navbar__btn {
    margin-left: 15px;
    border-radius: 8%;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.navbar__btn--background {
    background-color: #4540DB;
    color: #ffffff; 
}