.navbar {
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, #7035f0, #f528cb);
    /* position: fixed;
    z-index: 1; */ 
}

.navbar__container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 30px;
    padding-left: 20px;
}

/* .navbar__menu{
    
} */

.navbar__list{
    display: flex;
    list-style: none;
    margin-right: 70px;
    
}

.navbar__item{
    margin-right: 80px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.5rem;
}

.navbar__link{
    color: #ffff;
    text-decoration: none;
}