.home {
    width: 100%;
    height: 100vh;
}

.home__container{
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;  */
}
/* 
.home__left{
    margin-left: 10px;
    padding-left: 120px;
    font-size: 1.4rem;
}

.home__description{
    font-weight: 500;
}

.home__right{
    display: flex; 
    justify-content: space-around;
}

.home__picture {
    max-width: 70%;
    max-height: 80%;
    margin-top: 10px;
    border-radius: 5%;
    box-shadow: 20px 25px 8px #888888;
}

.btn__signin{
    margin-right: 10px;
    margin-top: 25px;
    padding: 20px;
    border-radius: 8%;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #161313;
    color: #ffff;
   
}

.btn__login{
    margin-left: 20px;
    padding: 20px;
    border-radius: 8%;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #fff;
    border: #161313 dashed;
}

.home__company{
    margin-top: 200px;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    background: linear-gradient(45deg, #6831e3, #f528cb);
    position: relative;
}

.home__titlecompany{
    color: #fff;
    position: absolute;
    top: 10%;
    right: 55%;
    width: 40%;
    padding: 50px;
}

.home__remotenumbers {
    height: 100vh;
}

.home__titlenumbers{
    color: #161313;
    margin-left: 10px;
    padding-left: 120px;
}

.home__latestoffers{
    margin-top: 100px;
    height: 100vh;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
    background: linear-gradient(-45deg, #6831e3, #f528cb);;
    position: relative;
}

.home__titlelatestoffers{
    color: #fff;
    position: absolute;
    top: 15%;
    right: 55%;
    width: 40%;
    padding: 50px;
}

.home__review{
    height: 100vh;
    margin-top: 80px;
}

.home__titlereview{
    color: #161313;
    margin-left: 10px;
    padding-left: 120px;
}

.home__footer{
    background: linear-gradient(180deg, #6831e3, #f528cb);
    padding: 150px;
    color:#fff;
} */