.home {
    width: 100%;
    height: 100vh;
}

.home__container{
    padding-top: 200px;
}

.home__bigtitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__title {
   text-align: center;
   font-size: 3rem;
   width: 45%; 
}

.home__title span {
    color: #4540DB;
    font-size: 3.5rem;
}

.home__totaljob {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}

.home__numberjob {
    font-size: 1.35rem;
}

.home_search {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 90px;
}

/* .home_search__input {
    
} */

.home_search__input-field {
    padding: 15px; 
    border: none ;  
    border-left: 1px solid gray;
    width: 450px;
    outline: none;
}

.home_search__input-field--border {
    border-left: 1px solid gray;
}

.home_search__btn {
    width: 6%;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    /* background-color: #3a0c76; */
    background-color: #4540DB;
    outline: none;
    border: none;
    color: #ffffff;
    position: absolute;
    right: 25%;
}

/* HOME SOLUTIONS START */
.home__solutions {
    width: 100%;
    height: 100vh;
    margin-top:  200px;
    background-color: #F6F7FC;
}

.home__titlesolution {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.home__subtitle {
   padding-top: 80px;
   font-size: 2.6rem;
   width: 20%;
   text-align: center;
   line-height: 1.5;
}

.home__subtitle span {
    color: #4540DB;
} 

.home__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Create 4 columns of equal width */
    grid-gap: 20px; /* Spacing between cards */
    justify-items: center; /* Center the cards horizontally */
}
  
.home__card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 80px;
    border-radius: 15px;
    cursor: pointer; 
    background-color: #ffffff;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.1);
}

.home__card-icon {
    margin-right: 40px;
    font-size: 24px;
}
  
/* .home__card-content {
    
} */
  
.home__card-title {
    font-size: 18px;
    font-weight: bold;
}
  
.home__card-description {
    font-size: 14px;
}

.home__card:hover {
    background-color: #4540DB;
    color: white;
}
/* HOME SOLUTIONS END */

/* HOME COMPANY START */
.home__company {
    width: 100%;
    height: 100vh;
}

.home__company-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__company-subtitle {
    padding-top: 80px;
    font-size: 2.6rem;
    width: 30%;
    text-align: center;
    line-height: 1.5;
}

.home__company-subtitle span {
    color: #4540DB;
}

.home__company-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    gap: 25px;
}

.home__company-card{
    border: 1px solid lightgray;
    margin-top: 50px;
    border-radius: 10px;
}

.home__company-card-image{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.home__company-card-details {
    position: relative;
}

.home__company-card-logo{
    border: 6px solid #ffffff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    padding: .4rem;
    position: absolute;
    bottom: 100%;
    left: 5%;
    background-color: #4540DB;
}

.home__company-card-title{

}

.home__company-card-num-job{

}

.home___company-card-btn{

}

/* HOME COMPANY END */

/* HOME LATEST START */
.home__latest {
    width: 100%;
    height: 100vh;
    margin-top:  100px;
}

.home__latest-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__latest-subtitle {
    font-size: 2.6rem;
}

.home__latest-subtitle span {
    color: #4540DB;
}

.home__latest-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    /* justify-items: center; */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
  
.home__latest-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-color: #ffffff;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 25px;
    position: relative;
    box-shadow: 8px 4px 4px rgba(0, 0, 0, 0.1);
    transition: transform .3s ease;
}

/* The scale(1.05) property slightly enlarges the card 
   to 105% of its original size, creating a zoom effect. 
   The translateY(-10px) property moves the map 10 pixels up.
   By combining these two transformations, one obtains the effect 
   of the card coming out towards the user when it is hovered over. 
*/
.home__latest-card:hover {
    transform: scale(1.05) translateY(-10px);
}
  
.home__latest-card-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 5%;
    top: 7%;
}
  
.home__latest-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.home__latest-card-details {
    margin-left: 80px;
}
  
.home__latest-card-company {
    font-size: 18px;
    font-weight: bold;
}
  
.home__latest-card-jobtitle {
    font-size: 24px;
    font-weight: bold;
}
  
.home__latest-card-employment {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 25px;
}
  
.home__latest-card-description {
    font-size: 14px;
    margin-bottom: 30px;
}

.home__latest-card-button {
    padding: 10px 30px;
    background-color: #4540DB;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}

/* HOME LATEST END */