.jobseeker__container {
    display: flex;
    align-items: center;
    width: 100%;
    /* height: 41.8vw; */
    background-color: #F6F7FC;
}

.jobseeker__data {
    margin: 80px 350px;
    width: 20%;
    background-color: #ffff;
    box-shadow: 7px 5px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.jobseeker__infos {
    
    height: 380px;
}

.jobseeker__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 15px;
    color: black;
    font-weight: 700;
    font-size: 18px;
    border-bottom: 1px solid #6560f8;
}

/* .jobseeker__firstname {

} */

.jobseeker__global {
    padding: 20px;
    background-color: white;
    /* border-bottom: 0.5px solid grey; */
}

.jobseeker__global__visible {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 7px;
    margin-bottom: 45px;
}

.jobseeker__global__visible span {
    font-size: 1.1rem;
}

/* .jobseeker__global__visible input {
    margin-left: 40px;
} */

.input__switch {
    margin-left: auto;
    opacity: 0; 
} 

.input__switch__button {
    background-color: #e5e5e5;
    border-radius: 10px;
    height: 18px;
    margin-right: 5px;
    width: 30px;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: text-bottom;
}
.input__switch + label .input__switch__button {
    border-radius: 11px;
    font-size: 12px;
    height: 22px;
    margin-right: 0;
    width: 56px;
}

.input__switch:checked + label .input__switch__button {
    background-color: #87de9e;
}

.input__switch + label .input__switch__button::before {
    top: 2px;
    position: absolute;
}

.input__switch:checked + label .input__switch__button::before {
    color: white;
    content: "Oui";
    font-weight: 700;
    left: 10px;
}

.input__switch:not(:checked) + label .input__switch__button::before {
    color: black;
    content: "Non";
    left: 23px;
}

.input__switch:checked + label .input__switch__button::after {
    left: 38px; 
}

.input__switch + label .input__switch__button::after {
    height: 15px;
    width: 15px;
}

.input__switch__button::after {
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(96, 96, 96, 0.5);
    content: "";
    height: 12px;
    left: 4px;
    position: absolute;
    top: 3px;
    transition-duration: 0.2s;
    width: 12px;
    z-index: 2;
}

.jobseeker__global__cv {
    display: flex;
}

.jobseeker__global__cv__seen {
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    /* width: 90px; */
    border: 2px solid #6560f8;
    border-radius: 10px;
    margin-right: 20px;
    padding: 5px 15px;
    /* background-color: aqua; */
    text-align: center;
    color: black;
}

.jobseeker__global__cv__seen span {
    font-size: 1.1rem;
}

.jobseeker__global__cv__seen__number {
    font-size: 1.9rem;
    margin: 12px;
    font-weight: bold;
}

.jobseeker__global__cv__fields {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    font-size: 1.1rem;
}

.jobseeker__global__cv__fields__items span {
    font-weight: bold;
    font-size: 1.2rem;
}

.jobseeker__logout-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

.jobseeker__logout {
    padding: 12px 30px;
    background-color: #4540DB;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1rem;
}

.jobseeker__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 190px;
    justify-items: center;
    margin-left: -220px;
}


.jobseeker__card {
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 15px;
    box-shadow: 7px 6px 4px rgba(0, 0, 0, 0.1);
    width: 160%;
    height: 165px;
    background-color: #ffff;
}

.jobseeker__icon {
    margin: 15px auto auto 20px;
}

.icon {

}

.jobseeker__card__content {
    margin: 20px auto auto 20px;
}

.jobseeker__card__title {

}

.jobseeker__card_description {
    color: #7f818b;
}

.jobseeker__logout:hover {
    background-color: #6560f8;
}

.jobseeker__card:hover {
    border-color:  #4540DB;
    transition: all ease-in-out .3s
}

